<h3>Editar Curso {{ course.name }}</h3>

<hr>

<form #courseForm="ngForm">
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Código:</label>
    <div class="col-sm-10">
      <input [(ngModel)]="course.code" name="code" #courseCode="ngModel" [ngClass]="{'is-invalid': courseCode.invalid}" class="form-control" required="required">
          <div class="invalid-feedback">
            <span>Código do Curso é Obrigatório!</span>
          </div>
    </div>
    <label class="col-sm-2 col-form-label mt-3">Nome:</label>
    <div class="col-sm-10 mt-3">
      <input [(ngModel)]="course.name" name="name" #courseName="ngModel" [ngClass]="{'is-invalid': courseName.invalid}" class="form-control" required="required">
      <div class="invalid-feedback">
        <span>Nome do Curso é Obrigatório!</span>
      </div>
    </div>
    <label class="col-sm-2 col-form-label mt-3">Preço (R$):</label>
    <div class="col-sm-10 mt-3">
      <input [(ngModel)]="course.price" name="price" #coursePrice="ngModel" type="number" step="0.1" [ngClass]="{'is-invalid': coursePrice.invalid}" class="form-control" required="required" min="5">
      <div class="invalid-feedback">
        <span>Preço do Curso está Inválido!</span>
      </div>
    </div>
    <label class="col-sm-2 col-form-label mt-3">Nota (0 - 5):</label>
    <div class="col-sm-10 mt-3">
      <input [(ngModel)]="course.rating" name="rating" #courseRating="ngModel" type="number" [ngClass]="{'is-invalid': courseRating.invalid}" class="form-control" required="required" min="0" max="5">
      <div class="invalid-feedback">
        <span>Nota está Inválida!</span>
      </div>
    </div>
    <label class="col-sm-2 col-form-label mt-3">Descrição:</label>
    <div class="col-sm-10 mt-3">
      <textarea [(ngModel)]="course.description" name="description" #courseDescription="ngModel" [ngClass]="{'is-invalid': courseDescription.invalid}" class="form-control" required="required"></textarea>
      <div class="invalid-feedback">
        <span>Descrição está Inválida!</span>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-sm-3">
      <button [routerLink]="['/courses']" class="btn btn-warning">Cancelar</button>
    </div>
    <div class="col-sm-6">
    </div>
    <div class="col-sm-3 text-end">
      <button [routerLink]="['/courses']" [disabled]="courseForm.invalid" class="btn btn-success">Gravar</button>
    </div>
  </div>
</form>