<div class="container">
<h3 class="text-center">Bem Vindo ao meu 1° Projeto com Angular!:</h3>
  <h4>Todo o sistema foi desenvolvido por mim, Luís Trivinho, e também é possível acompanhar a evolução do mesmo pelo
    versionamento no meu <a class="text-info" href="https://github.com/luisTrivinh0/projeto-angular" target="_blank"><b>Github</b></a> !
    <br />
    <br />
    Caso haja qualquer d&uacute;vida ou bugs, basta entrar em contato pelo e-mail ou telefone:
    <br>
    <b class="text-info">luis.trivinho@icloud.com</b> ou <b class="text-info">+55 15 99104-6030</b>
  </h4>
  <h5 class="text-center">Ferramentas Utilizadas</h5>
  <div class="container">
    <div class="list-group text-center">
      <a href="https://angular.io/" target="_blank" class="list-group-item list-group-item-action list-group-item-primary">Angular / Typescript</a>
      <a href="https://getbootstrap.com.br/" target="_blank" class="list-group-item list-group-item-action list-group-item-danger">Bootstrap</a>
      <a href="https://developer.mozilla.org/pt-BR/docs/Web/CSS" target="_blank" class="list-group-item list-group-item-action list-group-item-warning">CSS</a>
    </div>
  </div>

</div>